@if (IsExecuting == false)
{
    <MudButton ButtonType="@ButtonType" Disabled="@Disabled" OnClick="OnClick" Variant="@Variant" Color="@Color" Class="ml-auto">@DefaultText</MudButton>
}
else
{
    <MudButton ButtonType="ButtonType.Button" Variant="@Variant" Color="@Color" Class="ml-auto" Disabled="true">
        <span>@InProgressText</span>
        <MudProgressCircular Indeterminate="true" Class="mx-3" Color="Color.Default" Size="Size.Medium" />
    </MudButton>
}


@code {
    [Parameter] public Boolean IsExecuting { get; set; } = false;
    [Parameter] public String DefaultText { get; set; }
    [Parameter] public String InProgressText { get; set; }

    [Parameter] public Boolean Disabled { get; set; } = false;

    [Parameter] public Variant Variant { get; set; } = Variant.Filled;
    [Parameter] public Color Color { get; set; } = Color.Primary;

    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Submit;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
