
@page "/scopes/dhcpv6"
@attribute [Authorize]
@inject DaAPIService service
@inject IStringLocalizer<DHCPv6ScopesPage> L
@inject NavigationManager _navManager
@inject ISnackbar _snackBarService
@inject IDialogService _dialogService

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">@L["PageTitle"]</MudText>

<BeerShowCircularLoadingIndicatorWhileNull Item="_scopes" Text="@L["LoadingMessage"]">
    <div class="d-flex justify-end mr-3 mb-2">
        <MudTooltip Text="@L["CreateNewScopeToolTipText"]">
            <MudFab Icon="@Icons.Material.Filled.Add" Link="/scopes/dhcpv6/create" Color="Color.Primary" />
        </MudTooltip>
    </div>
    <MudPaper>
        @if (_items.Count == 0)
        {
            <MudAlert Severity="Severity.Info">@L["NoScopesFound"]</MudAlert>
        }
        else
        {
            <MudTreeView ExpandOnClick="true" Items="_items" CanSelect="false" Class="no-scroll">
                <ItemTemplate>
                    <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Value="context" Items="@context.Children" Style="overflow-x: hidden; overflow-y: hidden;">
                        <Content>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.Children.Any()" />
                            <MudText Typo="@Typo.h6" Class="mud-treeview-item-label">
                                @context.Value.Name
                            </MudText>
                            <MudText Typo="@Typo.body1" Class="mud-treeview-item-label mr-4" Style="text-align:right">
                                <span>@GetScopeAddressRangeAsString(context.Value)</span>

                                @*@if (context.Value.SubnetMask.HasValue == true)
                                    {
                                        <span> @($"/{context.Value.SubnetMask}")</span>
                                    }*@

                                @*@if (String.IsNullOrEmpty(context.Value.FirstGatewayAddress) == false)
                                    {
                                        <span>@($" GW: {context.Value.FirstGatewayAddress} ")</span>
                                    }

                                    @if (context.Value.ExcludedAddresses.Any() == true)
                                    {
                                        <span>@L["ExcludedAddressLabel"] @GetExcludedAddressAsString(context.Value)</span>
                                    }*@
                            </MudText>
                             <MudTooltip Text="@L["ChangeParentsTooltip"]">
                                <MudIconButton Icon="fas fa-exchange-alt" OnClick="@( () => ShowChangeParentDialog(context.Value))" Color="Color.Info" />
                            </MudTooltip>
                            <MudTooltip Text="@L["DetailsButtonTooltip"]">
                                <MudIconButton Icon="@Icons.Material.Filled.Info" OnClick="@( () => NavigateToScopeDetails(context.Value))" Color="Color.Info" />
                            </MudTooltip>
                            <MudTooltip Text="@L["DeleteButtonTooltip"]">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@( () => ShowDeleteDialog(context.Value))" Color="Color.Error" />
                            </MudTooltip>
                            <MudTooltip Text="@L["EditButtonTooltip"]">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@( () => NavigateToEditScope(context.Value))" Color="Color.Info" />
                            </MudTooltip>
                            <MudTooltip Text="@L["CopyButtonTooltip"]">
                                <MudIconButton Icon="@Icons.Material.Filled.FileCopy" OnClick="@( () => NavigateToCreateCopyFromScope(context.Value))" Color="Color.Primary" />
                            </MudTooltip>
                            <MudTooltip Text="@L["AddChildScopeToolTip"]">
                                <MudIconButton Icon="@Icons.Material.Filled.ChildFriendly" OnClick="@( () => NavigateToCreateNewChildScope(context.Value))" Color="Color.Primary" />
                            </MudTooltip>
                        </Content>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>
        }
    </MudPaper>
        <div class="d-flex justify-end mr-3 mb-2">
        <MudTooltip Text="@L["ExportScopesToolTipText"]">
            <MudIconButton Icon="@Icons.Material.Filled.Download" OnClick="OpenExportDialog"  Color="Color.Inherit" />
        </MudTooltip>
         <MudTooltip Text="@L["ImportScopesToolTipText"]">
            <MudIconButton Icon="@Icons.Material.Filled.ImportExport" OnClick="OpenImportDialog"  Color="Color.Inherit" />
        </MudTooltip>
    </div>
</BeerShowCircularLoadingIndicatorWhileNull>

@code {


}
